<p style="text-align:center"><span style="color:#8e44ad"><span style="font-size:72px"><strong><span style="font-family:Comic Sans MS,cursive">Welcome to Azure Function&nbsp;</span></strong></span></span></p>

<p style="text-align:center"><span style="color:#8e44ad"><span style="font-size:72px"><strong><span style="font-family:Comic Sans MS,cursive">3 functions are available to test</span></strong></span></span></p>

<p><span style="font-size:36px">1. Try <span style="color:#1abc9c">/alert</span> to send alert to using json body as POST method&nbsp;</span></p>

<p><span style="font-size:36px">2. Try <span style="color:#2980b9">/alert_display</span> for display last send alert using GET method</span></p>

<p><span style="font-size:36px">3. Try <span style="color:#e74c3c">/hello/<span style="background-color:#f1c40f">&lt;YOURNAME&gt;</span></span>&nbsp;&nbsp;for parameterized Flask route</span></p>

<p>&nbsp;</p>

<p style="text-align:right"><img alt="" src="https://ckeditor.com/apps/ckfinder/userfiles/files/Capture.PNG" style="height:42px; width:139px" /></p>

<h3 style="text-align:right"><span style="color:#9b59b6">Developed by&nbsp;</span></h3>

<h3 style="text-align:right"><span style="color:#9b59b6">Cloudenthumani.in ( Chandramani)</span></h3>